* {
  box-sizing: border-box;
}

/* -------------------------------- *\
    #Grid-Components
\* -------------------------------- */

.grid {
    max-width: 1000px;
    margin: 0 auto;
}

.grid__row {
    padding-left: 10px;
    padding-right: 10px;
}

.grid__row > [class^="grid__col-"] {
    float: left;
    margin-left: 2%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__row > [class^="grid__col-"]:first-child {
    margin-left: 0;
}

.grid__row > [class^="grid__col-"]:last-child {
    float: right;
}

.grid__col-1 {
    width: 6.5%;
}

.grid__col-2 {
    width: 15%;
}

.grid__col-3 {
    width: 23.5%;
}

.grid__col-4 {
    width: 32%;
}

.grid__col-5 {
    width: 40.5%;
}

.grid__col-6 {
    width: 49%;
}

.grid__col-7 {
    width: 57.5%;
}

.grid__col-8 {
    width: 66%;
}

.grid__col-9 {
    width: 74.5%;
}

.grid__col-10 {
    width: 83%;
}

.grid__col-11 {
    width: 91.5%;
}

.grid__col-12 {
    width: 100%;
}





/* -------------------------------- *\
    #MEDIA-QUERIES
\* -------------------------------- */

@media only screen and (max-width : 480px) {
  .grid__row > [class="grid__col-2"],
  .grid__row > [class="grid__col-3"],
  .grid__row > [class="grid__col-4"],
  .grid__row > [class="grid__col-5"],
  .grid__row > [class="grid__col-6"],
  .grid__row > [class="grid__col-7"],
  .grid__row > [class="grid__col-8"],
  .grid__row > [class="grid__col-9"],
  .grid__row > [class="grid__col-10"],
  .grid__row > [class="grid__col-11"],
  .grid__row > [class="grid__col-12"] {
    width: 100%;
  }
}

@media only screen and (max-width: 767px)  {
	.grid__row > [class^="grid__col-"] {
		padding-top: 5px;
		padding-bottom: 5px;
	}

}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1100px;
	}
}





/* -------------------------------- *\
    #Clearfix
    Source: http://nicolasgallagher.com/micro-clearfix-hack
\* -------------------------------- */

.grid__row:after,
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* -------------------------------- *\
    #NAVIGATION
\* -------------------------------- */

.nav {

}

.nav__bar {
	margin: 0;
  padding: 0;
  list-style: none;
}

.nav__element {
  display: inline-block;
	vertical-align: bottom;
}

.nav__link {
	color: inherit;
	display: block;
	padding: 20px;
	text-decoration: none;
}

.nav__element:first-child > .nav__link {
	padding-left: 0;
}

.nav__element:last-child > .nav__link {
	padding-right: 0;
}

.nav__link:hover {
	text-decoration: underline;
}




/* -------------------------------- *\
    #HEADER
\* -------------------------------- */

.header {
	background: #fff;
  margin-bottom: 15px;
}

.header--shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}





/* -------------------------------- *\
    #LOGO
\* -------------------------------- */

.logo {

}

.logo__title {
	color: #333;
	font-size: 24px;
	margin: 15px 0;
}

.logo__image {

}





/* -------------------------------- *\
    #HELPERS
\* -------------------------------- */

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.text--upper {
	text-transform: uppercase;
}

.text--lower {
	text-transform: lowercase;
}
