<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mailgun P.I.</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <header>
      <a href="/">
        <h1 class="logo__title">Mailgun P.I.</h1>
      </a>
    </header>
  </div>
  <div class="container">
    <div>
      <form id="form-mailgun-query" action="/" method="GET">
        <div class="form-group">
          <label>Email domain</label>
          <input type="text" class="form-control" placeholder="Email domain (ex. wakefield.myenotice.com)" name="domain" required value="{{ params.domain }}">
        </div>
        <div class="form-group">
          <label>Event type</label>
          <input type="text" class="form-control" placeholder="Event type (ex. delivered)" name="event" value="{{ params.event }}">
        </div>
        <div class="form-group">
          <label>Recipient email</label>
          <input type="email" class="form-control" placeholder="Recipient email address" name="recipient" value="{{ params.recipient }}">
        </div>
        <button class="btn btn-primary" type="submit">Run query</button>
        <a href="/" class="btn btn-default" role="button">Reset</a>
      </form>
    </div>
  </div>
  <hr>
  <div class="container">
    {% if events %}
      <div>
        <a href="{{ download_link }}" class="btn btn-success" role="button" target="_blank">Export to CSV</a>
      </div>
      <div>
        <table class="table table-hover">
          <thead id="headers">
            <th>Timestamp</th>
            <th>Event Type</th>
            <th>Recipients</th>
            <th>User variables</th>
            <th>Message headers</th>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td>{{ event.timestamp }}</td>
              <td>{{ event.event }}</td>
              <td>{{ event.message.recipients }}</td>
              <td>{{ event['user-variables'] }}</td>
              <td>{{ event.message.headers }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
  </div>
</body>

</html>
